.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-header {
  display: flex;
  flex-direction: center; 
  align-items: center;
  justify-content: space-between;
  background-color: #004B7F;
  padding: 40px;
  position: relative; 
}
  
.header-logo {
  width: 50px;
  height: auto;
  margin-top: 10px;
  position: absolute;
  left: 20px;  
}
  
  
 .dashboard-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  
  .dashboard-card {
    display: flex;
    align-items: center;
    background-color: #a1e8ef;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    gap: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .dashboard-card img {
    width: 90px;
    height: 90px;
  }
  
  .card-text {
    flex-grow: 1;
  }
  
  .card-text h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
  }
  
  .card-text p {
    margin: 5px 0 0;
    font-size: 0.95rem;
    color: #666;
  }
  
  .card-arrow {
    font-size: 2rem;
    color: #004d7a;
  }
  
  .dashboard-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background-color: #004d7a;
    border-top: 2px solid #292929;
    gap: 10px;
  }
  
  .dashboard-footer img {
    width: 50px;
    height: 50px;
  }
  .dashboard-header h2 {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
  }
  
  .dashboard-footer span {
    color: white;
  }
  
  
  